/* You can add global styles to this file, and also import other style files */
 .done span, .done input{
    text-decoration: line-through;
    color:blue;
}
.done{
    background: green;
}

h1{
    text-align: center;
}